{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</header>
{% endblock %}

{% block content %}

<main class="container">
    <section aria-labelledby="shopping-bag-title" class="row">
        <div class="col-12">
            <h1 id="shopping-bag-title" class="mb-2 mt-5 pb-2 pt-4 text-db">Shopping Bag</h1>
            <hr>
        </div>
    </section>
</main>

<br>

<div class="container d-flex flex-column min-vh-100">
    <section aria-labelledby="shopping-bag-details" class="row">
        <div class="col">
            {% if bag %}
                <h2 id="shopping-bag-details" class="sr-only">Shopping Bag Details</h2>
                <table class="table" aria-describedby="shopping-bag-details">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in bag %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>£{{ item.price }}</td>
                            <td>£{{ item.total_price }}
                                <a href="{% url 'remove_from_bag' item.product.id %}" class="text-danger pl-4" aria-label="Remove {{ item.product.name }} from bag">
                                    <i class="fas fa-times-circle" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="text-right font-weight-bold">Total</td>
                            <td class="font-weight-bold">£{{ bag.get_total_cost }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'product_list' %}" class="btn btn-secondary">Return to Products</a>
                    <a href="{% url 'checkout' %}" class="btn btn-db ml-2">Proceed to Checkout</a>
                </div>
            {% else %}
                <p class="mb-5">Your bag is empty.</p>
                <a href="{% url 'product_list' %}" class="btn btn-db rounded btn-lg">
                    <span class="icon" aria-hidden="true">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
