<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-db mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'product_list' %}?sort=price&direction=asc"" class="dropdown-item">Sort By Price</a>
                <a href="{% url 'product_list' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-db mr-5" href="#" id="art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="art-link">
                <a href="{% url 'product_list' %}?category=Sculptures" class="dropdown-item">Sculptures</a>
                <a href="#" class="dropdown-item disabled text-muted">Decorations</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-db mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'product_list' %}?category=Furniture" class="dropdown-item">Furniture</a>
                <a href="{% url 'product_list' %}?category=Kitchen" class="dropdown-item">Kitchen</a>
                <a href="#" class="dropdown-item disabled text-muted">Bathroom</a>
            </div>
        </li>
    </ul>
</div>