{% extends "account/base_manage.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% element h1 %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-2 mt-5 pb-2 pt-4 text-db">Sign out</h2>
                    <hr>
                </div>
            </div>
        </div>
    {% endelement %}
    
    <div class="container d-flex flex-column min-vh-100 mb-5">
        <div class="row">
            <div class="col-12 col-lg-6 offset-1">
                <br>
                {% element p %}
                    {% trans 'Are you sure you want to sign out?' %}
                {% endelement %}

                {% url 'account_logout' as action_url %}
                {% element form method="post" action=action_url no_visible_fields=True %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" %}
                            {% trans 'Sign Out' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            </div>
        </div>
    </div>

{% endblock content %}
