{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% element h1 %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-2 mt-5 pb-2 pt-4 text-db">Set Password</h2>
                    <hr>
                </div>
            </div>
        </div>
        {% trans "Set Password" %}
    {% endelement %}

    <div class="container d-flex flex-column min-vh-100 mb-5">
        <div class="row">
            <div class="col-12 col-lg-6 offset-1">
                <br>
                {% url 'account_set_password' as action_url %}
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" name="action" %}
                            {% trans 'Set Password' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            </div>
        </div>
    </div>
{% endblock content %}
