{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% element h1 %}
        {% if token_fail %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-2 mt-5 pb-2 pt-4 text-db">Bad Token</h2>
                        <hr>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-2 mt-5 pb-2 pt-4 text-db">Change Password</h2>
                        <hr>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endelement %}
    <div class="container d-flex flex-column min-vh-100 mb-5">
        <div class="row">
            <div class="col-12 col-lg-6 offset-1">
                <br>
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    {% element p %}
                        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                    {% endelement %}
                {% else %}
                    {% element form method="post" action=action_url %}
                        {% slot body %}
                            {% csrf_token %}
                            {{ redirect_field }}
                            {% element fields form=form %}
                            {% endelement %}
                        {% endslot %}
                        {% slot actions %}
                            {% element button type="submit" name="action" %}
                                {% trans 'Change Password' %}
                            {% endelement %}
                        {% endslot %}
                    {% endelement %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
