{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% element h1 %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-2 mt-5 pb-2 pt-4 text-db">Password Reset</h2>
                    <hr>
                </div>
            </div>
        </div>
    {% endelement %}

    <div class="container d-flex flex-column min-vh-100 mb-5">
        <div class="row">
            <div class="col-12 col-lg-6 offset-1">
                <br>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                {% element p %}
                    {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
                {% endelement %}
            </div>
        </div>
    </div>
{% endblock content %}
