{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </header>
{% endblock %}

{% block content %}
<main>

    <!-- Page Title -->
    <section aria-labelledby="delete-product-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 id="delete-product-section" class="mb-2 mt-5 pb-2 pt-4 text-db">Delete Product</h1>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <!-- Delete Product Confirmation -->
    <section aria-labelledby="delete-product-confirmation">
        <div class="container d-flex flex-column min-vh-100 mb-5">
            <div class="row">
                <div class="col-6 text-db">
                    <p id="delete-product-confirmation">Are you sure you want to delete "{{ product.name }}"?</p>
                    <form method="post" aria-describedby="delete-product-confirmation">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" aria-label="Confirm deletion of {{ product.name }}">Delete</button>
                        <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}
